:root {
  font-size: 150%;

  --bg-color: #f7f0ee;
  --text-color: #226d47;
  --alt-color: #110a08;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --bg-color: #110a08;
    --text-color: #6ed2a0;
    --alt-color: #f7f0ee;
  }
}

#confetti {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
  #confetti {
    display: none;
  }

  * {
    transition-delay: 0s !important;
  }
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
  transition: background-color 100ms ease-out;
}
